<app-header></app-header>

<div class="container">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nisi praesentium sed blanditiis facilis placeat quae ipsam quam, nemo obcaecati? Excepturi dolore maiores necessitatibus? Ad cupiditate eligendi pariatur! Consequatur, minus. Possimus molestias nemo, quis magnam nobis deleniti omnis? Velit accusantium alias repudiandae tempore. Inventore, nobis? Voluptatum dignissimos sed at fuga.</p>
  <app-binding></app-binding>
</div>

<app-footer></app-footer>