<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div  id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">

            <a routerLink="/accueil"> Accueil </a>
            
          </li>
          <li class="nav-item">
            
            <a routerLink="/binding/0"> Binding </a>

          </li>
          <li class="nav-item">
            
            <a routerLink="/binding/0/details"> Binding </a>

          </li>
          <li class="nav-item">
            
            <a routerLink="/directives"> Directives </a>

          </li>
          <li class="nav-item">
            
            <a routerLink="/parent"> Communication </a>

          </li>
        </ul>
      </div>
    </div>
  </nav>